@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    font-family: 'Licorice', cursive;
}

nav .navbar-brand .red
{
    color: red;
}

nav .navbar-brand .blue
{
    color: lightskyblue;
}

nav .navbar-brand .orange
{
    color: orange;
}

img
{
    margin: 10px;
}

.image-center
{
    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
}

.welcome
{
    padding:20em;
    background-image:url("img/epin-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

.welcome img
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    padding: 10px;
}

#quiz
{
    margin: 10px;
    font-family: 'Georama', sans-serif;
    text-align: center;
}

button
{
    width: 100px;
}

.answer
{
    width: 150px;
    margin: 5px;
    background-color: #00c9ff;
    color: white;
    border-radius: 5px;
    border: 1px solid #006580;
}

.question
{
    background-color: orange;
    border-radius: 10px;
    width: 250px;
    padding: 10px;
    display: inline-block;
    margin: 10px;
}

.selected
{
    background-color: #2f7a8d;
}

#score
{
    margin: 10px;
    font-family: 'Georama', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

#resetbtn
{
    border: none;
    outline: none;
    font-size: 35px;
    border-radius: 10px;
    width: 50px;
    margin: 5px;
}

p, h1
{
    margin: 10px;
}

#author
{
    color: gray;
    font-style: italic;
}

.day-title
{
    font-weight: bold;
    text-decoration: underline;
}